// Font
$fontSize-Low: 1.125rem;
$fontSize-Medium: 1.5rem;
$fontSize-Big: 2rem;
$fontSize-extraBig: 2.6rem;
// Color
$backgroundColor-Main: rgb(30, 29, 27);
$white: #f5f5f5;
$colorGood: rgb(62, 209, 45);
$colorMid: rgb(255, 187, 61);
$colorBad: rgb(201, 47, 47);
$colorNull: rgb(117, 117, 117);
// Others
$transition: all 0.5s ease-in-out;